@import '../../App.scss';

.project-assets{
    position: absolute;

  right: 0;
    img{
        width: 371.17px;
        height: 476.12px;
    }
   }

.project-container {
       display: flex;
       justify-content: center;
       align-items: center;
    
     .project-body
     {
        width: 1130px;
        height: 758px;
         .project-title{
             @include underline-heading(65px, 7px, 44%, 1%, 200px, 1px, 50%);
             margin-bottom: 30px;
             margin-top: 50px;
            
         }

         .project-img-1 {
            width: 554px;
            height: 667px;
         }
     }
}

@media (max-width : 1000px)  {


.project-assets{
    display: none;
}


     .project-container{

         .project-body {
             height:auto;
             padding: 10px;
             
             .project-img-1{
                 height: auto;
                 margin-bottom: 15px;
                }
            }
            
        }
        }