@import '../../App.scss';

.navbar-body {
  
    background-color: var($backgroundcolor);
}

.nav-group{

    width: 472px;
   
    height: 21px;

    
    left: 1300px;
    .nav-link{
       font-weight: 400;
       font-size: 18px;
    }
}

.nav-img {
    img {
        width: 295px;
        // position: absolute;
        height: 85px;
     

    }
}
