@import '../../App.scss';


.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
}
.service-body{
    width: 1136px;
    height: 375px
}


.service-title{
    @include underline-heading(37px, 7px, 46%, 1%, 125px, 1px, 50%);
}

.service-text{
    font-size: 35px;
    font-weight: 500;
}

.service-asset-5{
    position: absolute;
    top: 2850px;
   left: 1575.75px;


    img {
        width: 336px;
        height: 431px;
    }
}

.service-asset-4{
    position: absolute;
    top: 2350px;

    img{ 
        width: 259px;
        height: 471px;
    }
}

.service-asset-3{
    position: absolute;
    top: 1900px;
    left: 1680px;

    img{
        width: 250px;
        height: 431px;
    }
}

.service-asset-2{
    position: absolute;
    top: 1200px;

    img {
        width: 366px;
        height: 431px;
    }
}